<h3>Hello {{ username }}</h3>

<p>
    An account have been created for you, here are the information of connexion :<br />
    - Username : {{ username }}<br />
    - Password : {{ plainPassword }}<br />
    <br />
    You need to activate you account, here is your unique token : {{ token }}
</p>