body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    font-family: Helvetica, Arial, sans-serif;
}

hr {
    border: none;
    border-top: 3px solid #264459;
    margin: 20px;
}

.bottom {
    background-color: #efefee;
}

.logo {
    width: 100%;
}

.text-center {
    text-align: center;
}

table.button a {
    background-color: #264459;
}

table.button table td {
    background-color: #264459;
    border: 2px solid #264459;
}

.headerLogo {
    background-color: #221F1F;
    color: white;
}

.bottomRows {
    background-color: #221F1F;
}